.box {
    background: #fff;
    margin: 0 0 30px;
    border: solid 1px #e6e6e6;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 20px;
    -webkit-box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
    box-shadow: 0 1px 5px rgb(0 0 0 / 10%);
  }
  
  .breadcrumb {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 0;
    padding: 0.5rem 1rem;
    margin-top: 15px;
  }
  
  #content .info-bar {
    line-height: 32px;
    vertical-align: middle;
  }
  
  #content .info-bar .products-number strong {
    margin-right: 10px;
  }
  
  .info-bar{
    display: flex;
    justify-content: space-around
  }
  
  .products-sort-by{
    display: flex;
    flex-direction: row;
  }
  .products-sort-by .form-control{
    width: 77%;
  }