<div class="container-fluid p-0 user">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-12 breadcrumb p-2">
                <app-breadcrump [parentPath]="parentUrl"></app-breadcrump>
            </div>
            <div class="col-lg-3 col-md-4 col-sm-12 col-12 p-2">
                <div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 card-title">Categories</h3>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills flex-column category-menu">
                            <li><a href="category.html" class="nav-link">T-shirts</a></li>
                            <li><a href="category.html" class="nav-link">Shirts</a></li>
                            <li><a href="category.html" class="nav-link">Pants</a></li>
                            <li><a href="category.html" class="nav-link">Accessories</a></li>
                        </ul>
                    </div>
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Brands <a href="#" class="btn btn-sm btn-danger pull-right"><i
                                        class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Armani (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Versace (12)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Carlo Bruni (15)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"> Jack Honey (14)
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i>
                                    Apply</button>
                            </form>
                        </div>
                    </div>
                    <div class="card sidebar-menu mb-4">
                        <div class="card-header">
                            <h3 class="h4 card-title">Colours <a href="#" class="btn btn-sm btn-danger pull-right"><i
                                        class="fa fa-times-circle"></i> Clear</a></h3>
                        </div>
                        <div class="card-body">
                            <form>
                                <div class="form-group">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour white"></span> White (14)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour blue"></span> Blue (10)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour green"></span> Green (20)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour yellow"></span> Yellow (13)
                                        </label>
                                    </div>
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox"><span class="colour red"></span> Red (10)
                                        </label>
                                    </div>
                                </div>
                                <button class="btn btn-default btn-sm btn-primary"><i class="fa fa-pencil"></i>
                                    Apply</button>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="banner"><a href="#"><img src="../../../../assets/img/banner.jpg" alt="sales 2014" class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9 col-md-8 col-sm-12 col-12 p-2">
                <heading>
                    <h2 class="title">Ladies</h2>
                    <p class="subTitle">In our Ladies department we offer wide selection of the best products we have found and carefully selected worldwide.</p>
                </heading>
            
                <sort></sort>
                <div class="hot-container row mt-4">
                    <div class="col-lg-3 col-md-3 col-sm-12 col-12 active" *ngFor="let ribbon of currentRibbons">
                       <ribon [ribbon]="ribbon"></ribon>
                    </div>
                </div>
            
                <app-pagination 
                    [currentPage]="currentPage" [pageCount]="pageCount" [items]="ribbons" [currentItems]="currentRibbons"
                    (changeCurrentItems)="getCurrentRibbons($event)" (changeCurrentPage)="getCurrentPage($event)"
                ></app-pagination>
            </div>

        </div>
    </div>
</div>