.user{
    background-color: whitesmoke;
    z-index: 1;
}

.breadcrumb {
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
    background: #fff;
    border-radius: 0;
    padding: 0.5rem 1rem;
    margin-top: 15px;
}

.card.sidebar-menu ul.nav.category-menu {
    margin-bottom: 20px;
}

.card.sidebar-menu h3 {
    padding: 5px 0;
    margin: 0;
}

heading {
    background: #fff;
    padding: 30px;
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hot-container{
    justify-content: center;
    margin-left: 8%;
    margin-right: 8%;
}
